{% extends 'parent_template/base_template.html' %}
{% block page_title %}
Voir les avertissements
{% endblock page_title %}
{% block main_content %}
<div class="card">
        <div class="card-header">
          <h3 class="card-title">Les avertissements</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 10%">
                          Date
                      </th>
                      <th style="width: 10%">
                          Enseignant
                      </th>
                      <th style="width: 10%">
                          Matière
                      </th>
                      <th style="width: 40%" class="text-center">
                          Avertissement
                      </th>

                  </tr>
              </thead>
              <tbody>
              {% for av in avr %}
                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <small>
                              {{av.created_at}}
                          </small>
                      </td>
                      <td>
                          {{av.teacher_id.id}}
                      </td>
                      <td >
                          {{av.teacher_id.subject_name}}
                      </td>
                      <td class="project-actions text-center">
                         Plus que 3 absences
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
{% endblock main_content %}