{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">MON ECOLE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">

        <div class="info">
          <a href="#" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'student_home' as student_home %}
            <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Accueil
              </p>
            </a>
          </li>
           <li class="nav-item">
            {% url 'profil' as profil %}
            <a href="{{ profil }}" class="nav-link {% if request.path == profil %} active {% endif %}">
              <i class="fas fa-circle nav-icon"></i>
              <p>Mon profil</p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'voir_cours' as voir_cours %}
            <a href="{{ voir_cours }}" class="nav-link {% if request.path == voir_cours %} active {% endif %}">
             <i class="nav-icon fas fa-copy"></i>
              <p>
                Voir les cours
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'feedback' as feedback %}
            <a href="{{ feedback }}" class="nav-link {% if request.path == feedback %} active {% endif %}">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Feedback
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'facturation' as facturation %}
            <a href="{{ facturation }}" class="nav-link {% if request.path == facturation %} active {% endif %}">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
                Paiement
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'voir_homework' as voir_homework %}
            <a href="{{ voir_homework }}" class="nav-link {% if request.path == voir_homework %} active {% endif %}">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Homework
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'afficher_note' as afficher_note %}
            <a href="{{ afficher_note }}" class="nav-link {% if request.path == afficher_note %} active {% endif %}">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Notes d'évaluations
              </p>
            </a>
          </li>

        <li class="nav-item">
          {% url 'avertissement' as avertissement %}
            <a href="{{ avertissement }}" class="nav-link {% if request.path == avertissement %} active {% endif %}">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Avertissement</p>
            </a>
          </li>
         <li class="nav-item">

            <a href="manage_schedule" class="nav-link ">
          <i class="nav-icon far fa-calendar-alt"></i>
              <p class="text">Calendrier</p>
            </a>
          </li>
          <li class="nav-item">

            <a href="manage_exam_day" class="nav-link ">
          <i class="nav-icon far fa-calendar-alt"></i>
              <p class="text">Calendrier des éxamens</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
