{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">MON ECOLE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/user2-160x160.jpg" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'student_home' as student_home %}
            <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'student_view_attendance' as student_view_attendance %}
            <a href="{{ student_view_attendance }}" class="nav-link {% if request.path == student_view_attendance %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Absence
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'voir_cours' as voir_cours %}
            <a href="{{ voir_cours }}" class="nav-link {% if request.path == voir_cours %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Voir les cours
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'feedback' as feedback %}
            <a href="{{ feedback }}" class="nav-link {% if request.path == feedback %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Feedback
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'student_view_attendance' as student_view_attendance %}
            <a href="{{ student_view_attendance }}" class="nav-link {% if request.path == student_view_attendance %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Calendrier
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'facturation' as facturation %}
            <a href="{{ facturation }}" class="nav-link {% if request.path == facturation %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Paiement
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'voir_homework' as voir_homework %}
            <a href="{{ voir_homework }}" class="nav-link {% if request.path == voir_homework %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Homework
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'afficher_note' as afficher_note %}
            <a href="{{ afficher_note }}" class="nav-link {% if request.path == afficher_note %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Notes d'évaluations
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'chatbot' as chatbot %}
            <a href="{{ chatbot }}" class="nav-link {% if request.path == chatbot %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Chatbot pour aide
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>