{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Calendrier des examens
{% endblock page_title %}
{% block main_content %}

 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Ajouter Calendrier</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/add_exam_save" method="post">
                {% csrf_token %}
                
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3">
                          <label>Classe</label>
                          <select  class="form-control"  name="class_id">
                            {% for classe in classes %}
                               <option value="{{ classe.id }}">level {{classe.level}} group {{classe.class_name}} </option>
                            {% endfor %}
                            </select>   
                        </div>
                        <div class="form-group">
                          <label >Numéro</label>
                          <select  class="form-control"  name="num">
                              
                                 <option value="1">Trimestre 1</option>
                                 <option value="2">Trimestre 2 </option>
                                 <option value="3">Trimestre 3</option>
                              
                              </select>    
                        </div>
                        
                      </div>
                    </div>
                    <!-- /.card-body -->
                  
              <div class="card-body">
                
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                            <th>Heures</th>
                        {% for i in liste1 %}
                            
                          <th ><input type="date" class="form-control" name="{{i}}"></th>
                          
                          
                        {% endfor %} 
                        
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>
                              08:00/09:50
                                 
                        </td>
                        {% for i in liste2 %}
                        <td><select  class="form-control"  name="{{i}}">
                           
                            {% for sb in subjects %}
                               <option value="{{ sb.id }}"> {{sb.subject_name}}  </option>
                            {% endfor %}
                            </select> </td>
                         
                            
                        {% endfor %}  
                           

                           

                            
                           
                       </tr>
                       <tr>
                        <td>
                            09:50/10:10
                               
                      </td>
                      <td colspan="12"><span class="right badge badge-danger">PAUSE</span></td>

                      </tr>

                       <tr>
                        <td>
                            10:10/12:00
                               
                      </td>{% for i in liste3 %}<td><select  class="form-control"  name="{{i}}">
                         
                        {% for sb in subjects %}
                           <option value="{{ sb.id }}"> {{sb.subject_name}}  </option>
                        {% endfor %}
                        </select>  </td>
                      
                          
                      {% endfor %}  


                      </tr>
                   <tr><td>
                 
                            12:00/13:00
                               
                      </td>
                        
                    
                      {% for i in liste4 %}<td> <select  class="form-control"  name="{{i}}">
                         
                        {% for sb in subjects %}
                           <option value="{{ sb.id }}"> {{sb.subject_name}}  </option>
                        {% endfor %}
                        </select> </td>
                      
                          
                      {% endfor %}  
                     </tr>
                     <tr>
                        <td>
                            13:00/14:50
                               
                      </td>
                      {% for i in liste5 %}<td><select  class="form-control"  name="{{i}}">
                           
                        {% for sb in subjects %}
                           <option value="{{ sb.id }}"> {{sb.subject_name}}  </option>
                        {% endfor %}
                        </select>  </td>
                        
                            
                        {% endfor %}  
                        
                    
                  
                    
                     </tr>
                     <tr>
                        <td>
                            14:50/15:10
                               
                      </td>
                      <td colspan="12"><span class="right badge badge-danger">PAUSE</span></td>

                      </tr>
                     <tr>
                        <td>
                            15:10/17:00
                               
                      </td>
                      {% for i in liste6 %}<td><select  class="form-control"  name="{{i}}">
                           
                        {% for sb in subjects %}
                           <option value="{{ sb.id }}"> {{sb.subject_name}}  </option>
                        {% endfor %}
                        </select>  </td>
                        
                            
                        {% endfor %}  

                    
                     </tr>
                        
                      </tbody>
                    </table>
                  </div>
                
                  
               
                
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <div class="form-group">
                    {% if messages %}
                  <div class="col-12">
                    {% for mess in messages %}
                    {% if mess.tags == "error" %}
                    <div class="alert alert-danger" style="margin-top:10px">{{mess}}</div>
                    {% endif %}
                    {% if mess.tags == "success" %}
                    <div class="alert alert-success" style="margin-top:10px">{{mess}}</div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                  <!-- /.col -->
                  </div>
                <button type="submit" class="btn btn-primary">Enregister</button>
              </div>
            </form>
          </div>
        </div>
        </div>  
    </div>  
     
  </section>
  <!-- /.content -->
  {% endblock main_content %}