{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Manage specification
{% endblock page_title %}
{% block main_content %}

 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Manage specifications of each teacher</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Teacher name</th>
                
                    <th>Teacher's class</th>
                    <th>Teacher's subject</th>
                    
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for sp in specification %}
                  <tr>
                    <td>{{ sp.id }}</td>
                    <td>{{ sp.teacher_id.admin.first_name }} {{ sp.teacher_id.admin.last_name }}</td>
                    <td>Level {{ sp.class_id.level}} Group {{ sp.class_id.class_name }}</td>
                    <td>{{ sp.subject_id.subject_name }}</td>
                    <td><a href="/edit_specification//{{ sp.id }}" class="btn btn-success">Edit</a></td>
                 </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>  
     
  </section>
  <!-- /.content -->
  {% endblock main_content %}